{{ form_start(form) }}


<div class="form-group">
    <label>Titre de l'élément</label>
    <input type="text" class="form-control" disabled value="{{ element.title }}">
</div>
<div class="form-group">
    <label>Description de l'élément</label>
    <textarea class="form-control" disabled>{{ element.description }}</textarea>
</div>
<div class="form-group">
    <label>Type de l'élément</label>
    <select class="form-control" disabled>
        <option>{{ element.type }}</option>
    </select>
</div>
<div class="form-group">
    <label>Critères d'acceptations</label>
    <textarea class="form-control" disabled>{{ element.acceptationCriteria }}</textarea>
</div>
<div class="form-group">
    <label>Ordonnencement de l'élément</label>
    <input type="integer" class="form-control" disabled value="{{ element.position }}">
</div>
<div class="form-group">
    <label>Etat de l'élément</label>
    <select class="form-control" disabled>
        <option>{{ element.state }}</option>
    </select>
</div>
<div class="form-group">
    {{ form_label(form.complexity, 'Points de complexité estimés') }}
    {{ form_widget(form.complexity, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.nbHours, 'Nombre d\'heures estimé') }}
    {{ form_widget(form.nbHours, {'attr': {'class': 'form-control'}}) }}
</div>

{{ form_row(form._token) }}

    <button class="btn btn-perso">{{ button_label|default('Save') }}</button>

{{ form_end(form, {'render_rest': false}) }}



